<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="System Cleaner" Language="1033" Version="1.0.0" Manufacturer="System Cleaner" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="System Cleaner" Comments="System Cleaner" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    
    <Feature Id="ProductFeature" Title="System Cleaner" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="System Cleaner" />
      </Directory>
    </Directory>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*">
        <File Id="MainExecutable" Name="System Cleaner.exe" Source="$(var.SystemCleaner.TargetDir)System Cleaner.exe" />
        <RemoveFile Id="RemoveMainExecutable" Name="System Cleaner.exe" On="uninstall" />
      </Component>
    </ComponentGroup>
    
    <Property Id="MSIINSTALLPERUSER" Value="1" />
    <Property Id="ALLUSERS" Value="1" />
  </Product>
</Wix>
